.header-shadow{
    background-image: url('images/img10.jpg');
    width: 100%;
    height: 100%;
}

.caption {
  text-align: center;
}

.panel-body {
  text-align: center;
  font-style: normal;
}

.list-group {
  text-align: center;
}

.oyo {
  padding-top: 50px;
  margin-top: 80px;
}

.thumbnail {
  col-md-4
}

.name-header{
  color: blue;
  font-style: normal;
  font-size: 60px
}
.about-header {
  color: blue;
  font-style: normal;
  font-family: sans-serif;
  font-size: 30px;
}
.brand {
  width: 100%;
  height: 180px;
}
.back {
  width: 100%;
  height: 50%;
}

.footer {
  position: absolute;
  bottom: 100;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #494747;
}

.social-media-color {
  color: #ffffff;
}

.social-media-color.col-md-4 {
    font-size: 18px;
}
