html,
body {
    background-color: #ffffff;
    font-size: 16px;
    color:#6B6B6B;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Signika' sans-serif;
    font-weight: 300;
  }

div, p{
  font-family: 'Signika' sans-serif;
}

.preload {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fefefe;
        z-index: 99999;
        height: 100%;
        width: 100%;
        overflow: hidden !important;
    }

    .loaded {
        width: 1420px;
        height: 100%;
        position: absolute;
        /*left: 50%;
        top: 50%;*/
        background-image: url(../images/wallpapers.jpg);
        background-repeat: no-repeat;
        background-position: center;
        -moz-background-size: cover;
        background-size: cover;
        /*margin: -20px 0 0 -20px;*/
    }

    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    .Name {
      color: #fcf9f9;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      padding-top: 100px;
    }

    #moi {
      font-size: 50px;
      font-weight: normal;
      color: #f7ba02;
    }

    .bg {
      background: rgba(10,0,0,0.5);
      text-align: center;
      padding: 10px 10px;
      padding-bottom: 10px;
    }

    .btn.extra-width {
        padding: 13px 40px;
    }
    .btn:focus,
    .btn:active {
        outline: inherit;
    }

.about-photo {
  float: right;
  padding-left: 0px;
  margin-right: 0px;
  padding-top: 200px;
}

.text-left {
  float: left;
  padding-top: 200px;
  text-align: left;
}

#features {
  background-color: #d8d6d6;
  padding: 200px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    font-family: 'Signika' sans-serif;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
    font-family: 'Signika' sans-serif;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: #070707;
    font-family: 'Signika' sans-serif;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.8rem;
    font-family: 'Signika' sans-serif;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Signika' sans-serif;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
    font-family: 'Signika' sans-serif;
}

#fola {
  color: black;
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Signika' sans-serif;
}
p:last-child {
    margin-bottom:0px;
    font-family: 'Signika' sans-serif;
}

.features-bg{
    background:#10c6fc;
    color:#fff;
    height: 270px;
    width: 283px;
	margin-bottom:20px;
}
.features-item{
    padding-top: 84px;
}
.features-item i{
    font-size:40px;
    font-family: 'Signika' sans-serif;
}
.features-item h6{
    padding-top:35px;
}
.features-item h6 a{
    font-size: 18px;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Signika' sans-serif;
}
.features-item h6 a:hover{
    color:#ff2b4a;
}
.features-bg.design{
    background:#10c6fc;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
}
.features-bg.design:hover{
    background:#2d6879;
}
.features-bg.development{
    background:#835aeb;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
}
.features-bg.development:hover{
    background:#6b647c;
}
.features-bg.testing{
    background:#002453;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
}
.features-bg.testing:hover{
    background:#64cbc0;
}
.features-bg.launch{
    background:#ff2b4a;
    transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
}
.features-bg.launch:hover{
    background:#222222;
}

.experience{
    background: url(../images/typography-7.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}
.experience-wrapper{
    margin-top:30px;
}
.experience-content{
    background: rgba(79, 50, 68, .7);
    padding:60px 40px;
    color:#fff;
}
.experience-content h4{
    color:#fff;
    text-transform:uppercase;
    font-size:26px;
    font-family: 'Signika' sans-serif;;
    font-weight:600;
    margin-bottom:50px;
}
.experience-content .content-details h5{
    color:#fff;
    font-size:18px;
}
.experience-content .content-details h6{
    color:#ecf0f2;
    font-size:16px;
}
.experience-content .content-details p{
    color:#ecf0f2;
}
.experience-content .content-details.content-border{
    border-bottom:1px solid #dadada;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
